* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 960px;
    margin: 0 auto;
    border-left: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
}

header>div{     
    height: 180px;     
    background: olivedrab url('../images/head.jpg') no-repeat;
}

header>div h1 {
    float: left;
    margin: 20px 0 0 20px;
    color: red;
}

header>div img {
    float: right;
    margin: 15px 15px 0 0;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

nav ul {
    margin-left: 20px;
}

nav ul li {
    float: left;
    list-style-type: none;
     margin-top: 10px;
    margin-right: 20px;
}

nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    padding: 10px 20px 5px 20px;
}
nav ul li a:hover, nav ul li a:active {
    text-decoration: none;
    /* background-color: darkgreen; */
    border-bottom: 3px solid darkgreen;
    /* color: white; */
    padding: 10px 20px 5px 20px;
    /* transition: ease-in all .2s; */
}


h2 {
    margin: 20px;
    color: orangered;
    text-align: center;
}

section p {
    margin: 0 20px;
}

.uvod img:first-of-type {
    float: left;
    margin: 5px 5px 10px;
}

.uvod img:last-of-type {
    float: right;
    margin: 5px 10px;
}

.uvod::after {
    content: "";
    clear: both;
    display: table;
}

.uvod p {
    margin: 15px;
}



.vstupne p {
    margin: 20px 20px;
}

.vstupne form {
    width: 70%;
    margin: 20px auto;      
    display: flex;
    flex-flow: row wrap;
}



.vstupne h3 {
    margin: 10px 0 10px 10px;
    /* text-align: center; */
}

.vstupne input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 20px;
}

.vstupne input[type="radio"] {
    margin-right: 5px;
}
.vstupne input[type="radio"]:last-of-type {
    margin-left: 20px;
}

form>fieldset {
    background-color: rgb(241, 232,181);
    border-radius: 20px;
    flex: 1 1 300px;
    font-size: 0.85rem;
    padding: 10px;
    margin: 10px;
}
form .optGroup {
    padding: 10px;
}
div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0;
}
div.formRow > * {
    flex: 1 1 150px;
}

legend {
    background-color: rgb(179, 20, 25);
    color: white;
    padding: 5px;
}


.card-container {
    display: flex;
    flex: row wrap;
    justify-content: space-evenly;
    margin: 30px 20px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    /* margin: auto; */
    flex: 0 1 300px;
    text-align: center;
    font-family: arial;
    border: 1px solid gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }

 
  .card h1 {
      margin: 10px;
  }
  .card p {
      margin: 15px;
  }
  .price {
    color: gray;
    font-size: 22px;
  }

  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: darkgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

.formRow {
    justify-content: center;
}
.formRow button {
    flex: 0 1 150px; 
    background-color: darkgreen;
    padding: 10px;
    color: white;
}  

.contact img {
    float: left;
    margin-right: 50px;
}

.contact::after {
    content: "";
    clear: both;
    display: table;
}

.contact th {
    vertical-align: top;
    padding: 3px 10px;
}
footer {
    border-top: 1px solid gray;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    background-color: darkgreen;
    color: white;
}